.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 35%;
    height: 35px;
    background: #160d7a;
    text-align: start;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    justify-content: start;   
}

.footer-content {
    margin: 10px;
    max-width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.footer-content p {
    margin: 0px;
    margin-left: 10px;
    text-align: start;
    font-size: 10px;
    text-decoration: underline;
    color: #92ea26;
}

.footer-content p:nth-child(2)::after {
    content: attr(data-content);
}

.footer-content p:nth-child(1) {
    padding-left: 0px;
    text-decoration: none;
    margin-left: 15px;
}

.footer-content p:nth-child(2) {
    padding-left: 10px;
    margin-left: 0px;
    text-decoration: none;

}
