.home-container {
    background-color: #92ea26;
}

.scldura-title {
    font-family: 'roboto', sans-serif;
    color: rgb(7, 160, 122);  
    border-color: rgba(255, 82, 82, 0.868);
    text-shadow: -1px -1px 0 #eaa5a5, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lead{
    font-family: 'roboto', sans-serif;
    font-size: xx-large;
    color: rgb(7, 160, 122);
    text-shadow: -1px -1px 0 #11c0d776, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}