.navbar {
    display: flex;
    background-color: #160d7a;
    padding: 1rem;
    position:sticky;    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width:100%;    
    justify-self: center;
    }

.navbar-brand {
    color: #92ea26;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-toggler {
    border: none;
    background-color: #e5e5e5;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
}

.navbar-nav .nav-link.active {
    background-color: #5c8fc7;
    border-radius: 5px;
}

.navbar-nav .nav-link:focus {
    background-color: #5c8fc7;
    border-radius: 5px;
}

.navbar-nav .dropdown-menu {
    background-color: #333;
    border: none;
}

.navbar-nav .dropdown-item {
    color: #fff;
}

.navbar-nav .dropdown-item:hover {
    background-color: #555;
}

.navbar-nav .dropdown-divider {
    border-top: 1px solid #555;
}

.form-control {
    border: none;
    border-radius: 5px;
}

.btn-outline-success {
    color: #fff;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}

.nav-item > .nav-link {
    color: #92ea26;
}
